{% extends "base.html"%}
{% load static%}
{%block title%} Изменение профиля {% endblock title%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ru">

{%block main%}
{%if perms.profiles.add_profiles or perms.profiles.change_profiles%}
{%if user.is_authenticated %}
<div class="alert alert-warning" role="alert">
 <div class="container">
  <div class="row">
    <div class="col-sm">
    <h5>
    <a href="{% url 'password_change' %}" class="text-warning">Сменить пароль</a>
   </h5> 
    </div>
    <div class="col-sm">
    <h5>
    <a href="{% url 'order:list' %}" class="text-warning">История заказов</a>
    </h5> 
    </div>
  </div>
 </div>
</div>

<ul class="list-group">
Пользователь: 
  <li class="list-group-item ">{{profiles.user}}</li>
  <br>
email:
  <li class="list-group-item"> {{profiles.user.email}}</li>
  <br>
Роль: 
  <li class="list-group-item">{%for groups in profiles.user.groups.all%}
{{groups}}
{{groups.permissions.all}}

{%endfor%}</li>
</ul>

 {%endif%}
<hr>
  
  <form action="" method="post" enctype="multipart/form-data">
    {%csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-outline-warning" value="Подтвердить">


  </form>
{%endif%}
{%endblock main%}
