{% extends "base.html"%}
{% load crispy_forms_tags %}
{% load static%}
{% load my_tags %}

{%block title%} Стартовая страница {% endblock title%}



  <div class="col-md-5 p-lg-5 mx-auto my-5">
  {%block main%}
<main role="main">

{%include "message.html"%}
{{users}}

    <h5 class="display-4 font-weight-normal">Книги</h5>
    <h4 class="ldisplay-5">top-6 книг с высокими оценками</h4>

  </div>
    <div class="container">
      <div class="row"> 
         {% for object in object_list.top %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <a href="{% url 'books:detail' object.pk %}"> <img src={{object.image.url}}  class="card-img-top" alt="ntrcn"> 
           <div class="card-body">
                {% for author in object.author.all %}
                 {%if author.biography %}<a href="{% url 'authors:detail' author.pk %}">{%endif%}{{author.name}}</a>
                {% endfor %}
              <a href="{% url 'books:detail' object.pk %}"><h5 class="card-title">{{object.name}}</h5></a>
              <div class="d-flex justify-content-between align-items-center">
                <h5><span class="badge badge-pill badge-primary">{{object.price}} BYN</span><h5>
                <div class="btn-group">
                {%if user.is_superuser %}
                  <a href="{% url 'books:update' object.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                  <a href="{% url 'books:delete' object.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                {%endif%}
                </div>
                <a href="{% url 'cart:add' %}?book_pk={{object.pk}}"><i class="fas fa-shopping-cart "></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}  
      </div>
      
    </div> 
  </div>
<div class="container">
  <div class="row">
    <div class="col">
     <h5 class="display-4 font-weight-normal">Книжные новинки</h5>
    </div>
   </div>
</div>
    <div class="container">
      <div class="row"> 
         {% for object in object_list.new %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <a href="{% url 'books:detail' object.pk %}"> <img src={{object.image.url}}  class="card-img-top" alt="ntrcn"> 
           <div class="card-body">
                {% for author in object.author.all %}
                 {%if author.biography %}<a href="{% url 'authors:detail' author.pk %}">{%endif%}{{author.name}}</a>
                {% endfor %}
              <a href="{% url 'books:detail' object.pk %}"><h5 class="card-title">{{object.name}}</h5></a>
              <div class="d-flex justify-content-between align-items-center">
                <h5><span class="badge badge-pill badge-primary">{{object.price}} BYN</span><h5>
                <div class="btn-group">
                {%if user.is_superuser %}
                  <a href="{% url 'books:update' object.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                  <a href="{% url 'books:delete' object.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                {%endif%}
                </div>
                <a href="{% url 'cart:add' %}?book_pk={{object.pk}}"><i class="fas fa-shopping-cart "></i></a>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}  
      </div>
      
    </div> 
  </div>





<div class="container">
  <div class="row">
    <div class="col">
     <h5 class="display-4 font-weight-normal">Книги по жанрам</h5>
    </div>
   </div>
</div>

<div class="container">
    <div class="row">
      {% for object in genre %}
      <div class="col-md-4">
        <p><a href="{% url 'books:list_by_genre' object.pk %}"><button type="button" class="btn btn-outline-primary btn-block" >Книги жанра "{{object.name}}" </p>
      </div>
      {% endfor %}
      <div class="col-md-4">
 

    <hr>

  </div>


{% endblock main%}

  