<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Что такое жанр?</h4>
          <p class="text-muted">Жанр – это тип литературного произведения. Существуют эпические, лирические, драматические жанры. Выделяют и жанры лироэпические. Жанры делят и по объему на крупные (включают рома и роман-эпопею), средние (литературные произведения «среднего размера» ‑ повести и поэмы), малые (рассказ, новелла, очерк). Имеют жанры и тематическое деление: авантюрный роман, психологический роман, сентиментальный, философский и т.д. Основное же деление связано с родами литературы. </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="mailto:a.dobriyan@icloud.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>