{% extends "base.html"%}
{% load static%}
{% load crispy_forms_tags %}
{%block title%} Мои заказы {% endblock title%}
<!DOCTYPE html>
<html lang="ru">

{%block main%}
{%if perms.order.view_order%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Номер заказа</th>
      <th scope="col">Товары</th>
      <th scope="col">Стоимость заказа</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>

{% for object in object_list %}
{%if user == object.cart.user %}
    <tr>
      <th scope="row">{{object.pk}}</th>
      <td>{% for books in object.cart.books.all %}<h6>{{books.book.name}}</h6>{%endfor%}</td>
      <td>{{object.cart.price}} BYN</td>
      <td>{%if object.get_status_display == "Новый" %}<button type="button" class="close"><a href="{% url 'order:delete' object.pk %}">
        <span aria-hidden="true">&times;</span></a>{%endif%}
        </button><span class="badge badge-dark">{{ object.get_status_display}}</span>

 </td>
    </tr>
 {%endif%}
 {%endfor%}
   </tbody>
{%else%}
<br>
<h3>Для выполнения действия недостаточно полномочий</h3>
{%endif%}
{% endblock main%}



