{% extends "base.html"%}
{% load static%}
{%block title%} Изменение {% endblock title%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ru">

{%block main%}
{{object.book}}
{%if perms.auth.create_books or perms.auth.change_books%}
  <form action="" method="post" enctype="multipart/form-data">
    {%csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-outline-warning" value="Подтвердить">


  </form>
  {%else%}
  <br>
  <h3>Для выполнения действия недостаточно полномочий</h3>
  {%endif%}

{%endblock main%}


